@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>I have worked on many projects and I am very proud of them. I am a very good developer and I am always looking for new projects.</p>
</div>
