@using BookStore.ViewModel
@model AuthorFormVM
@section Title {
Authors
}



<div class="card mx-auto w-75 pt-3 pb-4 bg-info">
	<h3 class="text-center">@(Model?.Id == null ? "Create" : "Edit") Author</h3>
	<form asp-controller="Authors">
		<div class="card-body">
			<div class="form-group">
				<label asp-for="Name"></label>
				<input type="text" class="form-control" asp-for="Name" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		</div>
		<div class="card-footer text-center mt-2">
			<button type="submit" class="btn btn-primary w-25">@(Model?.Id == null ? "Add" : "Update")</button>
		</div>
	</form>
</div>