@using BookStore.ViewModel
@model BookFormVM
@section Title {
Books
}



<div class="card mx-auto w-75 pt-3 pb-4 bg-info">
	<h3 class="text-center">Create Book</h3>
	<form asp-controller="Books" asp-action="Create" enctype="multipart/form-data">
		<div class="card-body">
			<div class="form-group"> 
				<label asp-for="Title"></label>
				<input type="text" class="form-control" asp-for="Title" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AuthorId"></label>
				<select type="text" class="form-control" asp-for="AuthorId" asp-items="@Model.Authors"></select>
				<span asp-validation-for="AuthorId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Publisher"></label>
				<input type="text" class="form-control" asp-for="Publisher" />
				<span asp-validation-for="Publisher" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="publishDate"></label>
				<input type="date" class="form-control" asp-for="publishDate" />
				<span asp-validation-for="publishDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SelectedCategories"></label>
				<select type="text" class="form-control" asp-for="SelectedCategories" asp-items="@Model.Categories"></select>
				<span asp-validation-for="SelectedCategories" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description"></label>
				<textarea asp-for="Description" class="form-control"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ImageUrl"></label>
				<input type="file" class="form-control" asp-for="ImageUrl" />
				<span asp-validation-for="ImageUrl" class="text-danger"></span>
			</div>
		</div>
		<div class="card-footer text-center mt-2">
			<button type="submit" class="btn btn-primary w-25">Add</button>
		</div>
	</form>
</div>